body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
	background: #ffffff;
	color: grey;
	padding: 0px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	border: #cccccc solid 1px;
}

#hi	{
	background: #5AB58A;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 22px;
}

#About, #Portfolio, #Contact {
	border: solid grey 0.5px;
	padding: 20px;
	font-size: 15px;
	float: right;
}

h1 {
	font-size: 18px;
}

p {
	clear: right;
	padding-left: 10px;

}

#my-photo {
	float: left;
	margin: 10px;

}

#about-title {
	color: #5AB58A;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.container {
	background: #BBBCBF;
	color: black;
	padding: 30px;
	font-family: helvetica, times, serif;
	font-size: 15px;
	position: relative;
	border: #dddddd solid 1px;
}

.about-me {
	background: white;
	color: black;
	padding: 20px;
	font-family: helvetica, times, serif;
	font-size: 15px;
	position: relative;
	width: 66.6%;
	display:inline-block;
}

.connect {
	background: white;
	color: black;
	border: black solid 1px;
	padding: 20px;
	font-family: helvetica, times, serif;
	float: right;
	width: 33.3%%;
	display:inline-block;
}

.social {
	text-align: center;
}

.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}

.stylebar {
	background: red;
	height: 40px;
	width: 100px;
	border: black solid 1px;
}

footer {
	background: #666666;
	color: white;
	padding: 30px;
	text-align: center;
	font-size: 12px
	height: 50px;
	position: fixed;
	bottom: 0;
}